__pycache__/
*.py[cod]

.Python
env/
venv/
build/
lib/
lib64/
var/
.installed.cfg
__pycache__

pip-log.txt
pip-delete-this-directory.txt

.cache

*.log
*.sqlite3

.idea/
docs/_build/*
*.swp
.~lock*
*.sock
logs/

/settings.py
coverage_html_report
reports
node_modules/
.coverage
logs/
*~